recursive-include . *.html
recursive-include . *.csv
recursive-include . *.yml
recursive-include . *.yaml
include versioneer.py
include intake_spark/_version.py

include LICENSE
include README.rst
include requirements.txt
